
body,
button,
input,
select,
textarea {
    font-size: 1em;
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica;
    line-height: 1.6;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: #333;
    -webkit-text-size-adjust: 100%;
}

p {
    margin: 0 auto 20px;
}

button,
input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
    overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

input[type="submit"] {
    font-size: inherit;
    font-weight: 700;
    border: 0;
    border-top: 2px solid rgba(255,255,255,0);
    border-bottom: 2px solid rgba(0,0,0,.2);
    outline: 0;
    line-height: 1;
    cursor: pointer;
    color: #fff;
    padding: 10px 16px 14px;
    -webkit-appearance: none;

}

input[type="submit"]:active {
    border-top: 2px solid rgba(0,0,0,.2);
    border-bottom: 2px solid rgba(255,255,255,0);
    background: #2D747A;
}

.container {
    text-align: center;
    width: 860px;
    margin: 8% auto;
    max-width: 84%;
}

.title {
    margin: 0;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.reset {
    display: none;
}

.reset .win-message {
    padding: 20px 0 0;
    font-size: 18px;
}

.reset input {
    background: #5CD357 !important;
    color: #fff;
}

.reset input:active {
    background: #51B15C !important;
}

.cards {
    margin: 5% 0;
}

.cards ul li {
    display: inline-block;
    margin: 0 5px;
    width: 75px;
    height: 95px;
    background: #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    cursor: pointer;
    content: '';
    position: relative;
}

.cards ul li:hover {
    background: #bbb;
}

.wrong-by-1 {background: #FF5757 !important;}
.wrong-by-2 {background: #FF8657 !important;}
.wrong-by-3 {background: #FFCB47 !important;}
.wrong-by-4 {background: #FFDC83 !important;}
.wrong-by-5 {background: #92CCE7 !important;}
.wrong-by-6 {background: #5EAFD5 !important;}
.wrong-by-7 {background: #4897BD !important;}
.wrong-by-8 {background: #2C72A2 !important;}
.correct {background: #5CD357 !important;}

